[Unit]
Description=wal-rus daemon (wal-g compatible)
Documentation=https://github.com/ClickHouse/wal-rus
Wants=network-online.target
After=network-online.target

[Service]
User=postgres
Group=postgres
Type=simple
EnvironmentFile=/etc/postgresql/wal-g.env
ExecStart=/usr/bin/wal-g daemon /tmp/wal-g
Restart=always

[Install]
WantedBy=multi-user.target
